@page
@model Mascotas.app.frontend.Pages.DetailsVeterinariosModel
@{
}
<h2>@Model.Veterinario.Nombre</h2>
<div>
    TarjetaProfesional: @Model.Veterinario.TarjetaProfesional
</div>
<div>
    Nombres: @Model.Veterinario.Nombres
</div>
<div>
    Apellidos: @Model.Veterinario.Apellidos
</div>
<div>
    Celular: @Model.Veterinario.Celular
</div>
<div>
    Email: @Model.Veterinario.Email
</div><a asp-page="./FLisVeterinarios" class="btn-default">Lista de Veterinarios </a>