@page
@model Mascotas.app.frontend.Pages.FLisPropietariosModel
@{
}
<h2>
    LISTADO DE PROPIETARIOS
</h2>
<table class= "table">

    <thead>
            <tr>
                <th>Id</th>
                <th>Nombres </th>
                <th>Apellidos</th>
                <th>Detalle</th>
                <th>Editar</th>
                
            </tr>
    </thead>

                @foreach (var Propietario in Model.Propietarios)
                {
                    <tr>
                        <td>@Propietario.IdPropietario</td>
                        <td>@Propietario.Nombres</td>
                        <td>@Propietario.Apellidos</td>
                    <td>
                <a class="btn btn-primary table-btn" asp-page="./FInscripcionPropietario" asp-route-PropietarioId="@Propietario.Id">
                    <i class="fas fa-info-circle fa-lg"></i </a>
                 </td>
   
                 <td>
                <a class="btn btn-primary table-btn" asp-page="./FInscripcionPropietario" asp-route-PropietarioId="@Propietario.Id">
                    <i class="fas fa-info-circle fa-lg"></i </a>
                 </td>

                    </tr>
                
                    
                } 

            </table>