@page
@model Mascoticas.App.Frontend.Pages.FLisMascotasModel
@{
}
<h2>
    LISTADO DE MASCOTAS
</h2>
<table class= "table">

    <thead>
            <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Tipo</th>
                <th>Detalle</th>
                <th>Editar</th>
                
            </tr>
    </thead>

                @foreach (var mascota in Model.Mascotas)
                {
                    <tr>
                        <td>@mascota.idMascota</td>
                        <td>@mascota.Nombre</td>
                        <td>@mascota.Tipo</td>
                        
                        
                    <td>
                <a class="btn btn-primary table-btn" asp-page="./FInscripcionMascota" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-info-circle fa-lg"></i </a>
                </td>

                <td>
                <a class="btn btn-primary table-btn" asp-page="./FInscripcionMascota" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-info-circle fa-lg"></i </a>
                </td>

                    </tr>
                
                    
                } 

            </table>