@page
@model Mascoticas.App.Frontend.Pages.DetailsVeterinariosModel
@{
}
<h2>vet</h2>
<div>
    TarjetaProfesional: @Model.Veterinarios.TarjetaProfesional
</div>
<div>
    Nombres: @Model.Veterinarios.Nombres
</div>
<div>
    Apellidos: @Model.Veterinarios.Apellidos
</div>
<div>
    Celular: @Model.Veterinarios.Celular
</div>
<div>
    Email: @Model.Veterinarios.Email
</div><a asp-page="./FLisVeterinarios" class="btn-default">Lista de Veterinarios </a>