@page
@model Mascoticas.App.Frontend.Pages.DetailsMascotasModel
@{
    
}
<h2>MASCOTAS</h2>
<div>
    Id: @Model.Mascotas.Id
</div>

<div>
    Nombre mascota: @Model.Mascotas.Nombre
</div>

<div>
    Tipo: @Model.Mascotas.Tipo
</div>

<div>
    Raza: @Model.Mascotas.Raza
</div>

<div>
    Propietario: @Model.Mascotas.Propietario
</div>

<div>
    Peso: @Model.Mascotas.Peso
</div>

<div>
    Temperatura: @Model.Mascotas.Temperatura
</div>

<div>
    Frecuencia cardiaca: @Model.Mascotas.FrecuenciaCardiaca
</div>

<div>
    Frecuencia Respiratoria: @Model.Mascotas.FrecuenciaRespiratoria
</div>

<div>
   Estado animico: @Model.Mascotas.EstadoAnimo
</div>

<div>
    Recomendaciones: @Model.Mascotas.Recomendaciones
</div>


<a asp-page="./FLisMascotas" class="btn-default">Lista de Mascotas </a>